<!-- <h1 style="color: blue;">{{title}}</h1> -->

<div >
    <input type="text" #input>
    <button (click)="OnSubmit(input)">Submit</button>
    <app-teacher [value]="inputText" *ngIf="destroy"><h4>Projected Content</h4></app-teacher>
</div>

<br/>
<Button (click)="DestroyComponent()">Destroy</Button><br>

<button (click)="onClick($event)">Click me</button> {{greet}}
<!-- <app-teacher [parentMessage]="title"></app-teacher>
<app-teacher [parentMessage1]="teacherId"></app-teacher> -->
<!-- <app-exam ></app-exam> -->

<app-student (parentFunction)="parentFunction($event)"></app-student>
<br/><br/>


<h3>Student 1</h3>
<h4>Name: {{studinfo[0].name}}</h4>
<h4>Age: {{studinfo[0].age}}</h4>
<h4>Department: {{studinfo[0].dept}}</h4>
<h4>Template driven form validation</h4>
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
    <input type="email" required #name="ngModel" pattern="[a-zA-Z]+$" name="name" placeholder="Enter name"ngModel/><br/>
    <span *ngIf="name.invalid &&name.touched" style="color:red;">Please enter a valid input</span><br/> 
    <input type="password" required #password="ngModel" name="password" minlenght="2" placeholder="Enter password "ngModel/><br/>
    <span *ngIf="password.invalid &&password.touched" style="color:red;">Please enter a valid input</span><br/> 
    <Button [disabled]="loginForm.invalid">Login</Button>
</form>
